## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
import numpy as np

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [2]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../Weather_Database/WeatherPy_Database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Mataura,NZ,-46.1927,168.8643,48.47,70,100,5.32,light rain
1,1,Yulara,AU,-25.2406,130.9889,73.54,30,0,14.05,clear sky
2,2,Cabo San Lucas,MX,22.8909,-109.9124,92.61,74,20,8.05,few clouds
3,3,Ilheus,BR,-14.7889,-39.0494,69.55,82,12,3.00,few clouds
4,4,Ushuaia,AR,-54.8000,-68.3000,38.86,70,0,3.44,clear sky

In [3]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 

min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [5]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.

preferred_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]


preferred_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
5,5,Hilo,US,19.7297,-155.0900,80.62,69,30,3.00,light rain
13,13,Kulhudhuffushi,MV,6.6221,73.0700,82.09,77,56,9.17,broken clouds
18,18,Ponta Pora,BR,-22.5361,-55.7256,81.27,37,99,6.55,overcast clouds
19,19,Kapaa,US,22.0752,-159.3190,84.18,67,20,4.00,few clouds
21,21,Butaritari,KI,3.0707,172.7902,82.83,69,6,17.52,clear sky
34,34,Nouadhibou,MR,20.9310,-17.0347,75.72,78,73,8.37,broken clouds
35,35,Mangrol,IN,21.1167,70.1167,79.66,87,100,6.42,overcast clouds
38,38,Itarema,BR,-2.9248,-39.9167,78.60,80,7,18.07,clear sky
39,39,Katsuura,JP,35.1333,140.3000,78.91,72,93,26.04,overcast clouds
42,42,Touros,BR,-5.1989,-35.4608,77.90,76,8,16.71,clear sky

In [6]:
# 4a. Determine if there are any empty rows.
preferred_df.isnull().sum()

City_ID                0
City                   0
Country                0
Lat                    0
Lng                    0
Max Temp               0
Humidity               0
Cloudiness             0
Wind Speed             0
Current Description    0
dtype: int64

In [7]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
preferred_df = preferred_df.dropna()
preferred_df

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
5,5,Hilo,US,19.7297,-155.0900,80.62,69,30,3.00,light rain
13,13,Kulhudhuffushi,MV,6.6221,73.0700,82.09,77,56,9.17,broken clouds
18,18,Ponta Pora,BR,-22.5361,-55.7256,81.27,37,99,6.55,overcast clouds
19,19,Kapaa,US,22.0752,-159.3190,84.18,67,20,4.00,few clouds
21,21,Butaritari,KI,3.0707,172.7902,82.83,69,6,17.52,clear sky
...,...,...,...,...,...,...,...,...,...,...
685,685,Qom,IR,34.6401,50.8764,75.56,26,0,5.73,clear sky
688,688,Celestun,MX,20.8667,-90.4000,81.99,84,42,15.05,scattered clouds
690,690,Papara,BR,-3.9839,-38.7273,79.20,88,2,4.88,clear sky
692,692,Puri,IN,19.8000,85.8500,79.32,76,100,3.38,heavy intensity rain
693,693,Lagos,NG,6.5833,3.7500,76.35,91,72,3.89,broken clouds

In [8]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
5,Hilo,US,80.62,light rain,19.7297,-155.0900,
13,Kulhudhuffushi,MV,82.09,broken clouds,6.6221,73.0700,
18,Ponta Pora,BR,81.27,overcast clouds,-22.5361,-55.7256,
19,Kapaa,US,84.18,few clouds,22.0752,-159.3190,
21,Butaritari,KI,82.83,clear sky,3.0707,172.7902,
34,Nouadhibou,MR,75.72,broken clouds,20.9310,-17.0347,
35,Mangrol,IN,79.66,overcast clouds,21.1167,70.1167,
38,Itarema,BR,78.60,clear sky,-2.9248,-39.9167,
39,Katsuura,JP,78.91,overcast clouds,35.1333,140.3000,
42,Touros,BR,77.90,clear sky,-5.1989,-35.4608,

In [9]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.

for index, row in hotel_df.iterrows():

    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    
    params["location"] = f"{lat},{lng}"
        
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"    


    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, 'Hotel Name'] = hotels['results'][0]['name']
    except (IndexError):
        hotel_df['Hotel Name'].replace('', np.nan, inplace=True)

In [10]:
# 7. Drop the rows where there is no Hotel Name.

hotel_df.dropna()
hotel_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
5,Hilo,US,80.62,light rain,19.7297,-155.0900,Hilo Hawaiian Hotel
13,Kulhudhuffushi,MV,82.09,broken clouds,6.6221,73.0700,Hondaafushi Island Resort
18,Ponta Pora,BR,81.27,overcast clouds,-22.5361,-55.7256,Hotel Pousada do Bosque
19,Kapaa,US,84.18,few clouds,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
21,Butaritari,KI,82.83,clear sky,3.0707,172.7902,Isles Sunset Lodge
...,...,...,...,...,...,...,...
685,Qom,IR,75.56,clear sky,34.6401,50.8764,Qom Hotel
688,Celestun,MX,81.99,scattered clouds,20.8667,-90.4000,Posada Lilia
690,Papara,BR,79.20,clear sky,-3.9839,-38.7273,Romin
692,Puri,IN,79.32,heavy intensity rain,19.8000,85.8500,OYO 1577 Hotel Shree Hari Grand
693,Lagos,NG,76.35,broken clouds,6.5833,3.7500,NaN

In [11]:
# 8a. Create the output File (CSV)
output_data_file = "../Vacation_Search/WeatherPy_vacation.csv"

# 8b. Export the City_Data into a csv
hotel_df.to_csv(output_data_file, index_label="City_ID")

In [12]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = hotel_df[["Lat", "Lng"]]

In [13]:
# 11a. Add a marker layer for each city to the map. 
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))